body {
    margin: 0;
}

.border-test {
    border: 1px solid black;
}

.top {
    display: flex;
    flex-direction: row;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 7;
    background-color: beige;
    text-align: center;
}

.txt_display {
    font-size: larger;
    padding: 20px 0;
}

.shortcuts {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.search_bar {
    padding-top: 20px;
}

.search_select {
    background-color: bisque;
    padding: 20px;
}

.personal {

    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
}

.weather {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: aquamarine;
    padding: 15px;
    justify-content: center;
}

.temperature {
    font-size: 40px;
}

.weather_txt {
    font-size: 14px;
}

.card_container {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: darksalmon;
    grid-gap: 20px;
    padding: 0 300px;
    justify-content: center;
}

.card {
    width: fit-content;
    background-color: beige;
    border-radius: 10px;
    height: fit-content
}

.card_title {
    width: 300px;
    padding: 5px 10px;
    background-color: black;
    color: white;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.empty_card {
    width: 300px;
    padding: 5px;
    background-color: aquamarine;
    border-radius: 10px;
    text-align: center;
}

.card_content {
    padding: 5px;
    display:flex;
    flex-direction: column;
    padding: 5px;
}
.links{
    display: flex;
    flex-direction : column;
}
.each_link{
    display:flex;
    flex-direction: row;
    margin-bottom:5px;
}
.link_addr{
    flex-grow: 1 ;
    min-width: 0; 
}
.link_text{
    white-space: nowrap; 
    text-align : right
}
.btn-add-link{
    display: flex;
    flex :1 1 0;
}

.card_item {
    display: flex;
    flex-direction: row;
    height: 20px;
    align-items: center;
    margin-bottom:5px;
}

.remove_link {
    float: left;
    margin-right: 5px;
}

#search_txt {
    width: 500px;
}

.add_links {
    background: url('../img/add_white.png');
    background-size: 12px 12px;
    height: 12px;
    width: 12px;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;

}

.remove_link {
    background: url('../img/remove_black.png');
    background-size: 12px 12px;
    background-color: transparent;
    border: 0px;
    height: 12px;
    width: 12px;
    background-repeat: no-repeat;
}