<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
</head>

<body>
  <div style="width:500px;">
    <div class="each_link">
      <button onclick="location.href='{{url_for('index_edit')}}';">Back</button>
    </div>
    <form class="links" method="post" action="/add_shortcut">
      <div class="each_link">
        <label class="link_text" for="text">Link Text:&nbsp;</label>
        <input class="link_addr" type="text" id="text" name="text">
      </div>
      <div class="each_link">
        <label class="link_text" for="url">Link URL:&nbsp;</label>
        <input class="link_addr" type="text" id="url" name="url">
      </div>

      <input type="submit" value="Add Shortcut">
    </form>
    <div class="each_link">
      {% for shortcut in shortcuts %}
      <form method="post" action="/remove_shortcut/{{ shortcut.id }}">
        <input type="submit" value="Remove">
      </form>
      <a href="{{shortcut.url}}">{{shortcut.text}}</a>&nbsp;
      {% endfor %}
    </div>
  </div>
</body>

</html>