<div class="card_container">
    {% for card in cards %}
    <div class="card">
        <div class="card_title">
            <div>{{card['title']}}</div>
            {% if edit %}<button class="add_links" onClick="add_link();"></button>{% endif %}
        </div>
        <div class="card_content">
            {% for link in card['content'] %}
            <div class="card_item">
                {% if edit %}<button class="remove_link" onClick="remove_link();"></button>{% endif %}
                <a class="card_link" href="{{link['address']}}">{{link['link']}}</a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    {% if edit %}
    <div class="card">
        <div class="empty_card">
            <button class="add_card" onClick="add_card();">+</button>
        </div>
    </div>
    {% endif %}
</div>